.center {
  float: none; 
  margin: 0 auto;
}

.card-form {
  word-wrap: unset !important;
  padding: 1rem;
}

.shadow {
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  margin-bottom: 15px
}